# Server
PORT=3173

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3173

# Generic Postgres Database
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# Prisma Accelerate Platform
DATABASE_URL=

# OAUTH Providers
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#Email Provider
RESEND_API_KEY=

NEXT_PUBLIC_APP_URL=http://localhost:3173